button {
    font-size: 20px;
    font-weight: bold;
    color: #595959;
    background: #F25C05;
    width: 35px;
    padding: 5px;
    height: 35px;
    border: 1px solid #0D0D0D;
    outline: none;
    transform-origin: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s ease;
}

.handling {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 20px 0;
    width: 100%;
}

.handling div {
    height: 40px;
}

.handling div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.handling div:nth-child(2) {
    display: grid;
    place-items: center;
}

button:active  {
    transform: scale(0.95);
}

@media (max-width: 805px) {
    .handling div:first-child button:first-of-type {
        margin-right: 5px;
    }
}