button {
    font-size: 20px;
    font-weight: bold;
    color: #595959;
    background: #F25C05;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: 1px solid #0D0D0D;
    outline: none;
    transform-origin: center;
    transition: 0.1s ease;
}

button:active  {
    transform: scale(0.95);
}

@media (max-width: 970px) {
    button {
        display: block;
        margin-bottom: 10px;
    }
}