.header {
    grid-column: span 3;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    color: #595959;
    background: #F25C05;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #0D0D0D;
}

.header h1 {
    font-size: 40px !important;
}

.header i {
    margin-right: 20px;
}

.header div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header div {
    margin-bottom: 5px;
}

.header .date {
    font-size: 12px;
}

@media (max-width: 795px) {
    .header h1 {font-size: 25px !important; }
}